@{
    ViewBag.Title = "Add";
}
<script>
    function get() {
        alert("dddd");
        $("[type='button']").popover();
    }
</script>
<h2>Add</h2>
<a href="/" class="btn btn-small btn-primary">首页</a>
<a href ="#" onclick="get()">点击使得Tips生效</a>
<br />
<br />
<p class="alert alert-success">注：最新的bootstrap 必须配合使用JQuery1.10以上才会使bootstrap.js生效。</p>
<div class="container" style="padding: 100px 50px 10px;">
    <button type="button" class="btn btn-default" title="Popover title"
        data-container="body" data-toggle="popover" data-placement="left"
        data-content="左侧的 Popover 中的一些内容">
        左侧的 Popover
    </button>
    <button type="button" class="btn btn-primary" title="Popover title"
        data-container="body" data-toggle="popover" data-placement="top"
        data-content="顶部的 Popover 中的一些内容">
        顶部的 Popover
    </button>
    <button type="button" class="btn btn-success" title="Popover title"
        data-container="body" data-toggle="popover" data-placement="bottom"
        data-content="底部的 Popover 中的一些内容">
        底部的 Popover
    </button>
    <button type="button" class="btn btn-warning" title="Popover title"
        data-container="body" data-toggle="popover" data-placement="right"
        data-content="右侧的 Popover 中的一些内容">
        右侧的 Popover
    </button>
</div>
